body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

.navbar {
  background-color: #181B3F;
}

.btn-navbar {
  background-color: #181B3F;
  background-image: none;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

.quick_buttons {
  margin: 5px 0;
  text-align: center;
  width: 100%;
}

.info_header {
  // margin: 3px 0;
}

.distance_to_date {
  float: right;
  font-size: 0.85em;
  width: 25%;
  .distance_total {
    font-size: 2.8em;
    font-weight: bold;
    padding: 3px 0;
    text-align: center;
  }
  .distance_label {
    text-align: center;
  }
}

.status_messages {
  float: left;
  font-size: 16px;
  width: 70%;
}

.big_label {
  font-weight: bold;
}

// To improve appearance in mobile
//////////////////////////////////////////

body {
  padding-left: 12px;
}

.navbar .brand {
  padding-left: 28px;
  padding-right: 20px
}

.btn-navbar {
  margin-right: 25px
}

.table th, .table td {
  padding: 5px;
}

.container-fluid {
  padding: 0 20px 0 0;
}