$orange: #FF7B00;

body {
  background: url(background.png);
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

.navbar {
  background-color: #181B3F;
}

.btn-navbar {
  background-color: #181B3F;
  background-image: none;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

.quick_buttons {
  margin: 11px 0 7px;
  text-align: center;
  width: 100%;
}

.info_header {
  // margin: 3px 0;
}

.distance_to_date {
  float: right;
  font-size: 0.85em;
  width: 25%;
  .distance_total {
    font-size: 2.8em;
    font-weight: bold;
    padding: 3px 0;
    text-align: center;
  }
  .distance_label {
    text-align: center;
  }
}

.status_messages {
  float: left;
  font-size: 16px;
  width: 70%;
}

.big_label {
  font-weight: bold;
}

.banner-background-img {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.banner {
  color: #fff;
  height: 260px;
  width: 100%;
  h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    font-size: 3em;
    line-height: 1.2em;
    text-shadow: 0px 2px 3px #555;
  }

  h3 {
    font-size: 1.7em;
    line-height: 0;
    text-shadow: 0px 2px 3px #555;
  }
}

.banner-text {
  padding: 1% 0 0 1%;
  vertical-align: middle;
}

.content {
  background-color: #fff;
  width: 100%;
}

.sign-up-text {
  float: right;
  text-align: right;
  margin: 4% 2% 0 0;
}

.site-info, .signin-box {
  background-color: #ddd;
}

.home-header {
  // height: 100px;
}

// To improve appearance in mobile
//////////////////////////////////////////

// body {
//   padding-left: 12px;
// }

.navbar .brand {
  padding-left: 28px;
  padding-right: 20px
}

.btn-navbar {
  margin-right: 25px
}

.table th, .table td {
  padding: 5px;
}

.container-fluid {
  padding: 0 20px 0 0;
}